# Node
**/node_modules/

# IDEs
**/.vs/
**/.idea/

**/.next/

# .NET build outputs
**/bin/
**/obj/

**/bin/*
**/obj/*

build/*



**/bin/**
**/obj/**



**/node_modules
**/.vs
**/.idea
**/bin
**/obj
**/.git


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
