[Unit]
Description=Verify LSevin pgBackRest repository
Requires=k3s.service
After=k3s.service

[Service]
Type=oneshot
TimeoutStartSec=3h
ExecStart=/usr/local/sbin/lsevin-pgbackrest-check
