NEXT_PUBLIC_URL=https://appmain.lsevin.com
NEXT_PUBLIC_API_URL=https://api.lsevin.com/api/v1
NEXT_PUBLIC_FILES_URL=https://api.lsevin.com/files
NEXT_PUBLIC_SOCKET_URL=https://api.lsevin.com/hubs
NEXT_PUBLIC_MAPBOX_TOKEN=

AUTH_URL=https://appmain.lsevin.com
AUTH_SECRET=CHANGE_ME_LONG_RANDOM
WEBHOOK_KEY=CHANGE_ME_LONG_RANDOM
WEBAPP_API_KEY=CHANGE_ME_LONG_RANDOM

POSTGRES_DB=lsevin
POSTGRES_USER=lsevin
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD

JWT_ISSUER=https://api.lsevin.com
JWT_AUDIENCE=lsevin-api
JWT_SECRET=CHANGE_ME_JWT_SECRET

CORS_ORIGIN_1=https://appmain.lsevin.com

SEQ_URL=
